body{
    width: 1024px;
    margin: 0 auto;
}
.container_header{
    font-size: 1.50rem;
}


.container_main{
    
    justify-content: space-around;
   
}
.container-card{
   
    margin: 10px auto;
}
.two{
    width: 90vw;
    max-width: 1024px;
    
    
    
    
}
.three{
    
    width: 90vw;
    max-width: 1024px;
   
}


.container_footer figure img{
    margin: 0 100px;
}
