.container_header{
display: flex;
justify-content: space-evenly;
}
article p{
    font-size: 1.50rem;
}
.navbar{
}
.navbar ul{
    list-style: none;
}
.navbar li{
    display: inline;
    padding: 0 2px; 
}
.navbar li:hover{
color: burlywood;
}
.container_main{
    flex-flow: row wrap;
    display: flex;
    flex-direction: column;
}

.block1{
    
}
.container-card{
background-color: grey;
text-align: center;
padding-top:10px ;
border-radius: 1rem;


}

.block1 figure img{
    min-width: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
   }
.block2 p{
    border: 1px solid black;
    padding: 35px; 
}

.container_footer{
    display: flex;
    justify-content: center;
     min-width: 304px;
}

.container_footer figure img{
    width: 40px;
    margin: 0 10px; 
}

